<!DOCTYPE html>
<html>
<head>
<title>Grocery Store</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link rel="stylesheet" href= {{ url_for('static', filename='css/bootstrap.css') }} type="text/css" media="all" />
<link href= {{ url_for('static', filename='css/style.css') }} rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href= {{ url_for('static', filename='css/font-awesome.css') }} rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="{{ url_for('static', filename = 'js/jquery-1.11.1.min.js') }}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/move-top.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/easing.js') }}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="#">Special Offers !</a>
		</div>
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				<input type="submit" value=" ">
			</form>
		</div>
		<div class="product_list_header">
			<form action="/cart" class="last">
                <fieldset>
                    <input type="submit" name="submit" value="View your cart" class="button" />
                </fieldset>
            </form>
		</div>

		{% if not loggedIn %}
		<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">
							<ul class="dropdown-menu drp-mnu">

								<li><a href="/loginForm">Login</a></li>
								<li><a href="/loginForm">Sign Up</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>

		{%else%}
		<div class="w3l_header_right">
		<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>

		</div>
		{% endif %}


		<div class="w3l_header_right1">
			<h2><a href="#">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });

	});
	</script>

	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="/"><span>Grocery</span> Store</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="#">Events</a><i>/</i></li>
					<li><a href="#">About Us</a><i>/</i></li>
					<li><a href="#">Services</a></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+91) 9876543210 </li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">store@grocery.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>


<div class="w3l_banner_nav_right">


<div class="w3_login">
            <h3>Update Profile</h3>
            <div class="w3_login_module">
                <div class="module form-module">
                  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                  </div>
                  <div class="form">

                  <form action="/updateProfile" method="POST">
		<p>Email:<input type="email" name="email" value={{profileData[1]}} readonly="readonly"></p>
		<p>First Name:<input type="text" name="firstName" value={{profileData[2]}}></p>
		<p>Last Name: <input type="text" name="lastName" value={{profileData[3]}}></p>
		<p>Address 1: <input type="text" name="address1" value={{profileData[4]}}></p>
		<p>Address 2: <input type="text" name="address2" value={{profileData[5]}}></p>
		<p>Zip Code: <input type="text" name="zipcode" value={{profileData[6]}}></p>
		<p>City: <input type="text" name="city" value={{profileData[7]}}></p>
		<p>State: <input type="text" name="state" value={{profileData[8]}}></p>
		<p>Country: <input type="text" name="country" value={{profileData[9]}}></p>
		<p>Phone Number: <input type="text" name="phone" value={{profileData[10]}}></p>
		<input type="submit" value="Save">
	</form>
    </div>
    </div>
    </div>
    </div>



</body>
</html>

